"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "c232f989-31c9-4ffe-a3e6-00e63b8a7921"
  editor:
    fontSize: 19
  "exception-reporting":
    userId: "ce6dbf45-e550-453f-8eae-34afddbda768"
  "spell-check":
    locales: [
      "en-US"
      "fr-FR"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0245ff"
        cyan: "#00bdbe"
        green: "#00a800"
      zBright:
        brightBlue: "#0082ff"
        brightGreen: "#00f900"
        brightYellow: "#b6a400"
    style:
      theme: "dracula"
    welcome:
      showOnStartup: false
    wordcount: {}
".plain.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
